/**
 * List.css - Useful for lists, forms, etc.
 *
 * Classes:
 *
 * .list: initialize the main list
 * .list-prepend: add icon, text, etc. to the front of a list item
 * .list-append: add icon, text, etc. to the end of the a list item
 *
 * You need to place .list-prepend, .list-append before the list item text/element.
 *
 * Basic Example:
 *
 * <ul class="list">
 *   <li>
 *     <i class="list-prepend icon-user"></i>
 *     <i class="list-append icon-arrow"></i>
 *     Username: MattMueller
 *   </li>
 * </ul>
 *
 * Form Example:
 *
 * <ul class="list">
 *   <form action="/finish">
 *      <li>
 *        <i class="list-prepend icon-user"></i>
 *        <i class="list-append icon-arrow"></i>
 *        <input type="text" placeholder="username:">
 *      </li>
 *   </form>
 * </ul>
 */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
}

/* Forms add margin at the bottom by default */
.list > form {
  margin: 0;
}

.list li {
  border-top: 1px solid #ccc;
  line-height: 2;
  padding: 0 5px;

  /* ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list li:first-child {
  border-top: none;
}

/* Remove underline and inherit color from li */
.list li > a {
  text-decoration: none;
  color: inherit;
  display:inline-block;
  width: 100%;
}

/* Vertically align inputs */
.list li > input {
  font-size: inherit;
  background: inherit;
}

.list .list-prepend {
  float: left;
  margin-right: 5px;
}

.list .list-append {
  float: right;
}
